*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(231, 227, 227);
}
.btn__contacto{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.Principal-content div:hover{
    background-color: #c55e14;
}
.Principal-content div{
    width: auto;
    height: auto;
    background: #8b4513;
    padding: 10px;
    border-radius: 40px;
}
.nav__menu{
    background-color: #8b4513;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}
.logo{
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
}
.nav__menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.nav__menu-items li{
    border-radius: 3px;
    margin: 0 10px;
}
.nav__menu-items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.nav__menu-items li:hover, li.active{
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}
.btn-menu{
    margin: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.header{
    display: flex;
}
ul.show{
    top: 65px;
    z-index: 5000000000;
}
.header-content{
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    top: 70px;
    
}
.header-content p{
    color: #fff;
}
.item1{
    margin: auto;
    width: 70%;
    font-size: 30px;
    height: 300px;
    z-index: 10;
    padding-top: 15%;
    
}
.item2{
    padding: 10px;
    height: auto;
    z-index: 20;
    border-radius: 4px;
    background: #a35108;
    margin-bottom: 2%;
}
.item2 a{
    color: #fff;
    text-decoration: none;
    font-size: 20;
    
}

.header-content img{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    height: 400px;
    width: 100vw;
    object-fit:cover;
    opacity: .5;
}

.Principal-content{
    margin: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Principal-content h1{
    padding: 20px;
    font-size: 50px;
}
.Principal-content p{
    font-size: 25px;
    padding: 20px;
}

.Services__titulo{
    padding: 20px;
    margin: auto;
}
.Services{
    padding: 20px 20px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Services h1{
    font-size: 50px;
}
.Services__container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}
.Services__container-grid div{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.Services__titulo hr{
    border: 1px solid red;
}
.Services__container-grid img{
    height: 300px;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0px 3px 10px 4px;
    margin-bottom: 40px;
}
.footer{
    position: relative;
    left:0px;
     bottom:0px;
    background-color: #8b4513 ;
    padding: 20px 20px;
    margin: auto;
    padding: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-grid{
    margin: auto;
    width: 80%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}
.footer-grid div{
    font-size: 20px;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}
.footer-grid i{
    font-size: 50px;
    padding: 0 50px;
}

@media screen and (max-width: 952px){
    .logo{
        font-size: 20px;
        padding-left: 35px;
    }
    .nav__menu-items li a{
        font-size: 14px;
        padding-right: 1px;
    }
}
@media screen and (max-width: 858px){
    .nav__menu{
        height: 65px;
    }
    .btn-menu{
        display: inline-flex;
    }
    .nav__menu-items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .nav__menu-items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .nav__menu-items li:hover{
        background: none;
    }
    .nav__menu-items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .nav__menu-items li a:hover{
        color: saddlebrown;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    .header-content p{
        font-size: 20px;
    }
    .item1 p{
        font-size: 24px;
    }
    .Services__container-grid{
       width: 100%;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       grid-gap: 10px;
    }
    .footer-grid{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        text-align: center;
    }
    
}
@media screen and (max-width: 858px) and (orientation: landscape){
    .nav__menu-items{
        margin: 5px 0 0 0;
    }
    .nav__menu-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}